@font-face {
	font-family: "KBK";
	src: url("../fonts/Kanit/Kanit-Black.ttf");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KEBD";
	src: url("../fonts/Kanit/Kanit-ExtraBold.ttf");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KBD";
	src: url("../fonts/Kanit/Kanit-Bold.ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KSBD";
	src: url("../fonts/Kanit/Kanit-SemiBold.ttf");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KM";
	src: url("../fonts/Kanit/Kanit-Medium.ttf");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KR";
	src: url("../fonts/Kanit/Kanit-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KL";
	src: url("../fonts/Kanit/Kanit-Light.ttf");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KEL";
	src: url("../fonts/Kanit/Kanit-ExtraLight.ttf");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KELI";
	src: url("../fonts/Kanit/Kanit-ExtraLightItalic.ttf");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "KT";
	src: url("../fonts/Kanit/Kanit-Thin.ttf");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
}

body,
html {
	font-family: "KR", sans-serif;
	overflow-x: hidden;
	line-height: normal;
	color: #1e3463;
	background-repeat: repeat;
	width: 100%;
	max-width: 100%;

	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "KSBD", sans-serif;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 1.75rem;
	overflow: hidden;
}

h2::after {
	content: "";
	display: inline-block;
	height: 0.2em;
	vertical-align: bottom;
	width: 120px;
	margin-right: -100%;
	margin-left: 10px;
	border-top: 1px solid #1e3463;
}

h3 {
	font-size: 15px;
	color: #1db1ff;
	overflow: clip;
}

h3::after {
	content: "";
	display: inline-block;
	height: 0.2em;
	vertical-align: bottom;
	width: 30px;
	margin-right: -100%;
	margin-left: 10px;
	border-top: 1px solid #1db1ff;
}

p {
	margin-bottom: 0;
	line-height: 140%;
	font-size: 14px;
}
a {
	text-decoration: none;
	transition: all 0.5s;
}

a:hover {
	text-decoration: none;
}
img {
	width: 100%;
}

li {
	list-style: none;
}

.header {
	.header-logo {
		cursor: pointer;
	}
	.nav-item,
	.btn-container {
		height: 20px;
		padding: 1rem;
		cursor: pointer;
		position: relative;

		.btn-prj {
			background-color: transparent;
			z-index: 1;
			color: #284e91;
			border: none;
			display: inline-block;
			position: relative;
			font-family: "KM";
			font-size: 20px;
			cursor: pointer;
			padding: 1rem;
		}

		.btn-prj + span {
			border: 3px solid #284e91;
			color: #284e91;
			background-color: #fff;
			font-family: "KSBD";
			cursor: pointer;
			z-index: -1;
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
		}

		.btn-prj + span::before {
			content: "";
			display: inline-block;
			width: 130px;
			height: 47px;
			border-bottom: 8px solid white;
			-webkit-transform: translateY(20px) translateX(5px) rotate(26deg);
			position: absolute;
			top: -40px;
			left: 15px;
			transition: all 0.3s;
		}

		.btn-prj:hover {
			color: white;
		}
	}

	.btn-container:hover {
		background-color: #284e91;
	}

	.btn-container:hover .btn-prj {
		color: white;
	}

	.nav-item:not(:last-child)::after {
		position: absolute;
		content: "";
		width: 1px;
		height: 20px;
		right: 0px;
		top: 15px;
		background-color: #d0d0d0;
	}
}

.accueil {
	.banner {
		background: rgb(97, 136, 193);
		background: linear-gradient(
			126deg,
			rgba(97, 136, 193, 1) 0%,
			rgba(5, 14, 33, 1) 29%,
			rgba(5, 14, 33, 1) 47%,
			rgba(17, 43, 104, 1) 100%
		);

		height: 48vw;
		position: relative;
		overflow: clip;
		-moz-border-radius: 36vw;
		-webkit-border-radius: 36vw;
		border-radius: 36vw;

		.banner-content {
			position: absolute;
			text-transform: uppercase;
			z-index: 2;
			width: calc(100% - 2rem);
		}

		.banner-titre {
			margin-left: 10vw;
			margin-top: 10vw;

			.titre {
				display: block;
				left: 50px;
				font-family: "KSBD";
				line-height: 100%;
				font-size: 3vw;
				cursor: pointer;
			}

			.titre-1 {
				font-size: 6vw;
				line-height: 70%;
			}

			.titre-2 {
				font-family: "KT";
				font-size: 2.4vw;
				line-height: 110%;
			}

			.titre-3 {
				font-size: 2.4vw;
			}
		}

		.categorie {
			position: absolute;
			z-index: 2;
			font-size: 1vw;
			cursor: pointer;
			transition: transform 0.2s; /* Animation */

			.darkText {
				color: #08111b;
			}
		}

		.categorie::before {
			content: "";
			display: inline-block;
			width: 2.5vw;
			height: 2.5vw;
			-moz-border-radius: 2.5vw;
			-webkit-border-radius: 2.5vw;
			border-radius: 50%;
			background-color: #1db1ff;
			margin-right: -19%;
			margin-bottom: -8%;
		}

		.categorie-1 {
			left: 15vw;
			top: 2vw;
		}

		.categorie-2 {
			left: 33vw;
			top: 23vw;
		}

		.categorie-3 {
			left: 42vw;
			top: 37vw;
		}

		.icon {
			width: 3vw;
			position: absolute;
			z-index: 2;
			font-size: 1vw;
			cursor: pointer;
			transition: transform 0.2s; /* Animation */
		}

		.icon-chat {
			right: 10vw;
			top: 33vw;
		}

		.icon-loupe {
			left: 52vw;
			top: 6vw;
		}

		.icon-globe {
			left: 55vw;
			top: 25vw;
		}

		.icon-panier {
			right: 12vw;
			top: 3vw;
		}

		.icon-location-1 {
			right: 23vw;
			top: 10vw;
		}

		.icon-location-2 {
			right: 12vw;
			top: 9vw;
		}

		.icon-location-3 {
			right: 13%;
			top: 14vw;
		}

		.categorie:hover,
		.icon:hover {
			transform: scale(1.2);
		}
	}

	.display-1 {
		font-family: "KSBD";
		font-size: 13.6vw;
		line-height: 1.2;
		-webkit-text-fill-color: white;
		-webkit-text-stroke: 1px #284e91;
	}
	.services {
		.imageService {
			position: relative;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			-moz-border-radius: 50px;
			-webkit-border-radius: 50px;
			border-radius: 50px;
			object-fit: cover;
		}

		.services-wrapper {
			display: flex;
			gap: 1rem;
			position: relative;
			height: 900px;
		}

		.service-wrapper {
			/* width: 33vw; */
			width: 33%;
			overflow: hidden;
			height: 100%;
			transition: width 1s ease-in-out;
		}

		.service-wrapper:hover {
			width: 50%;
		}

		.service-text {
			position: absolute;
			z-index: 2;

			.service-name {
				display: block;
				position: absolute;
				white-space: nowrap;
				font-size: 56px;
				font-family: "KSBD";
				left: 13vw;
				margin-top: 50px;
				writing-mode: vertical-lr;
				text-transform: uppercase;
			}

			.service-description {
				display: none;
			}

			.service-btn {
				display: none;
			}
		}

		.service-wrapper:hover .service-text {
			bottom: 5vw;
			margin-left: 5%;

			.service-name {
				writing-mode: horizontal-tb;
				font-size: 40px;
				font-family: "KSBD";
				margin-top: 0px;
				left: 0;
				text-transform: uppercase;
			}

			.service-description {
				text-transform: none;
				font-size: 2vw;
				font-family: "KR";
				margin-top: 4rem;
				display: block;
			}

			.service-btn {
				display: block;
				width: 6vw;
				cursor: pointer;
				margin-top: 4rem;
			}
		}
	}

	.service-number {
		position: absolute;
		font-family: "KSBD";
		text-transform: uppercase;
		z-index: 2;
		line-height: 0.8;
		color: rgba(0, 0, 0, 0);
		padding: 0 auto;
		bottom: 30px;
		font-size: 12vw;
		margin-left: 9%;
		line-height: 1.2;
		-webkit-text-stroke: 1px white;
		transition: all 1s ease-in-out;
	}

	.service-wrapper:hover .service-number {
		font-size: 8vw;
		margin-left: 30%;
		margin-right: 9%;
		bottom: 5vw;
	}
}

.logo {
	width: 15%;
	justify-content: space-between;
}

.apropos {
	.img-apropos {
		aspect-ratio: 5 / 8;
		-moz-border-radius: 45px;
		-webkit-border-radius: 45px;
		border-radius: 45px;
		object-fit: cover;
		object-position: 20%;
		width: 100%;
	}

	.enSavoirPlus {
		width: 12rem;
		height: 12rem;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: 1px solid #1e3463;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.1rem;
		cursor: pointer;
		transition: all 0.3s;
	}
	.enSavoirPlus:hover {
		background-color: #1e3463;
		color: white;
		border: 1px solid white;
	}

	.display-3 {
		font-family: "KSBD";
		font-size: 1.5rem;
		line-height: 1.2;
	}
}

.elements {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 160vw;
	z-index: -1;

	.element {
		content: "";
		display: inline-block;
		-webkit-background-clip: padding-box; /* for Safari */
		background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	}
	.element-1 {
		height: 1px;
		height: 30vw;
		position: absolute;
		margin-top: 100px;
		left: 20vw;
		border-left: 1px solid rgba(34, 41, 80, 0.16);
		top: 0;
	}

	.element-2 {
		height: 1px;
		width: 15vw;
		position: absolute;
		margin-left: -50px;
		margin-top: 300px;
		border-bottom: 1px solid rgba(34, 41, 80, 0.16);
	}

	.element-3 {
		width: 30vw;
		margin-left: 90vw;
		margin-top: 80px;
	}
}

.footer {
	background: rgb(24, 60, 130);
	background: linear-gradient(
		99deg,
		rgba(24, 60, 130, 1) 0%,
		rgba(25, 59, 131, 1) 29%,
		rgba(23, 59, 131, 1) 47%,
		rgba(0, 0, 0, 1) 100%
	);

	height: 20vw;
	position: relative;
	overflow: clip;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;

	.element-4 {
		mix-blend-mode: lighten;
		position: absolute;
		margin-top: -65vw;
		margin-left: -50px;
	}

	.footer-intro {
		font-family: "KELI";
	}
	.footer-text {
		position: absolute;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		height: 100%;
	}

	.footer-logo {
		width: 80%;
	}
	li,
	.footer-contact,
	.footer-langues {
		font-family: "KR";
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}
	li,
	.footer-langues {
		cursor: pointer;
		transition: transform 0.2s; /* Animation */
	}

	li:hover,
	.footer-langues:hover {
		color: #1db1ff;
		transform: scale(1.1);
	}

	.actionEtLangues {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-end;

		.footer-action {
			font-family: "KSBD";
			font-size: 3.5vw;
			line-height: 1.1;
			margin-bottom: 1rem;
			color: rgba(0, 0, 0, 0);
			text-align: end;
			-webkit-text-stroke: 1px #1db1ff;
		}

		.footer-action:hover {
			transform: scale(1.1);
			cursor: pointer;
		}
	}
}

#cursor-1 {
	background: #1e3463;
	height: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	aspect-ratio: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
}

#cursor-2 {
	background: transparent;
	border: 1px solid #1e3463;
	height: 50px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	aspect-ratio: 1;
	left: -10%;
	top: -10%;
	transform: translate(10%, -50%);
	position: fixed;
}
/* footer on 768px */
@media screen and (max-width: 768px) {
	.footer {
		height: 63vw;
		position: relative;
		overflow: clip;
		-moz-border-radius: 45px;
		-webkit-border-radius: 45px;
		border-radius: 45px;
		padding: 1rem;

		.element-4 {
			mix-blend-mode: lighten;
			position: absolute;
			margin-top: -30vw;
			margin-left: -30px;
		}

		.footer-text {
			flex-wrap: wrap;
			width: 90%;
			height: auto;
			gap: 1rem;
			margin: 1rem;
		}

		.col-3 {
			margin-top: 1.5rem;
		}
		.footer-logo {
			width: 30%;
		}
		.actionEtLangues {
			.footer-action {
				font-size: 7vw;
				margin-right: -2rem;
			}

			.footer-langues {
				margin-right: -2rem;
			}
		}
	}
}

/* the real 768px */
@media screen and (max-width: 767px) {
	h2 {
		font-size: 2rem;
	}
	h3 {
		text-decoration: underline;
		text-underline-offset: 10px;
		overflow: visible;
	}
	h3::after {
		width: 0;
	}
	.accueil {
		.banner {
			.icon-location-1 {
				right: 23vw;
				top: 7vw;
			}

			.icon-location-2 {
				right: 12vw;
				top: 7.5vw;
			}

			.icon-location-3 {
				right: 13%;
				top: 13vw;
			}
		}

		.banner-image {
			width: 50%;
		}

		.services {
			.service {
				font-size: 4vw;
			}

			.service-description {
				left: 6vw;
				bottom: 22vw;
				font-size: 3vw;
			}

			.service-btn {
				left: 6vw;
				bottom: 6vw;
				width: 12vw;
			}

			.service-3 {
				left: 42%;
			}

			.chiffre-1 {
				font-size: 17vw;
				right: 30px;
				bottom: 8vw;
			}

			.chiffre-2 {
				padding: 0 auto;
				bottom: 8vw;
				left: 10%;
				font-size: 20vw;
			}

			.chiffre-3 {
				padding: 0 auto;
				bottom: 8vw;
				left: 14%;
				font-size: 30vw;
			}
		}

		.certifications {
			overflow-x: scoll;
			width: 100%;
		}

		.apropos {
			.display-3 {
				font-size: 2rem;
			}
			.img-apropos {
				margin-bottom: 2rem;
			}

			/* .enSavoirPlus {
				width: 25vw;
			} */

			p {
				font-size: 1.2rem;
			}
		}

		.elements {
			top: 335vw;

			.element-3 {
				margin-left: 90vw;
				margin-top: 100px;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.accueil {
		.banner {
			height: 100%;
			-moz-border-radius: 50vw;
			-webkit-border-radius: 50vw;
			border-radius: 50vw;

			.banner-image {
				width: 100%;
			}
			.banner-content {
				position: absolute;
				text-transform: uppercase;
				z-index: 2;
				width: calc(100% - 2rem);
			}

			.banner-titre {
				margin-left: 20vw;
				margin-top: 22vw;

				.titre {
					font-size: 6vw;
				}

				.titre-1 {
					font-size: 11vw;
				}

				.titre-2 {
					font-size: 4.5vw;
				}

				.titre-3 {
					font-size: 4.5vw;
				}
			}

			.categorie {
				font-size: 2.5vw;
			}

			.categorie::before {
				width: 6vw;
				height: 6vw;
				margin-right: -19%;
				margin-bottom: -8%;
			}

			.categorie-1 {
				left: 20vw;
				top: 8vw;
			}

			.categorie-2 {
				left: 65vw;
				top: 45vw;
			}

			.categorie-3 {
				left: 45vw;
				top: 70vw;
			}

			.icon {
				width: 6vw;
			}

			.icon-chat {
				right: 16vw;
				top: 160vw;
			}

			.icon-loupe {
				left: 10vw;
				top: 105vw;
			}

			.icon-globe {
				left: 12vw;
				top: 140vw;
			}

			.icon-panier {
				right: 20vw;
				top: 103vw;
			}

			.icon-location-1 {
				right: 46vw;
				top: 118vw;
			}

			.icon-location-2 {
				right: 24vw;
				top: 118vw;
			}

			.icon-location-3 {
				right: 25vw;
				top: 130vw;
			}

			.categorie:hover,
			.icon:hover {
				transform: scale(1.2);
			}
		}

		.services {
			.service {
				font-size: 6vw;
			}
			.service-1 {
				bottom: 35vw;
			}

			.service-description {
				bottom: 29vw;
				font-size: 4vw;
			}

			.service-btn {
				left: 7%;
				bottom: 10vw;
				width: 13vw;
			}

			.service-2 {
				top: 8%;
				left: 37%;
			}
			.service-3 {
				top: 8%;
				left: 43%;
			}

			.chiffre-1 {
				font-size: 19vw;
				right: 5%;
				bottom: 10%;
			}

			.chiffre-2 {
				padding: 0 auto;
				bottom: 8%;
				left: 16%;
				font-size: 25vw;
			}

			.chiffre-3 {
				padding: 0 auto;
				bottom: 8%;
				left: 22%;
				font-size: 25vw;
			}
		}

		.apropos {
			/* .enSavoirPlus {
				width: 30vw;
			} */
		}

		.elements {
			top: 490vw;

			.element-3 {
				margin-left: 90vw;
				margin-top: 100px;
			}
		}
	}

	.footer {
		height: 70vw;

		.element-4 {
			mix-blend-mode: lighten;
			position: absolute;
			margin-top: -20vw;
			scale: 1.2;
		}

		.col-3 {
			padding: 0;
		}
		.footer-text {
			margin: 1rem 0;
			font-size: 12px;
		}
	}
}
